@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  /* Definindo cores estilo "Goth/Dark" */
  --color-obsidian: #0a0a0a;
  --color-charcoal: #171717;
  --color-mist: #a3a3a3;
  --color-accent: #d4d4d8; /* Um prata pálido */

  /* Fontes para o estilo Ateliê */
  --font-serif: "Merriweather", serif;
  --font-sans: "Inter", sans-serif;
}
/* 
@layer base {
  body {
    @apply bg-obsidian text-mist;
  }
} */
