@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  /* Variáveis de Animação Seguras (RGBA/HEX) */
  --card-hover-bg: #ffffff;

  /* Light Mode Repouso: Equivalente ao gray-200 do Tailwind */
  --card-bg-idle: #e5e7eb;

  /* Light Mode Border: Branco com 20% opacidade (rgba 255,255,255, 0.2) */
  --card-border-idle: rgba(255, 255, 255, 0.2);

  /* FOOTER INPUTS (Light Mode) */
  --input-border-idle: rgba(0, 0, 0, 0.2);
  --input-border-focus: #8a0a0a; /* Accent Red */
  --bat-color: #1e1e24;
}

.dark {
  /* Dark Mode Hover */
  --card-hover-bg: rgba(30, 30, 36, 0.95);

  /* Dark Mode Repouso: A cor customizada */
  --card-bg-idle: #1e1e24;

  /* Dark Mode Border: Gold (#c5a050) com 10% opacidade (rgba 197,160,80, 0.1) */
  --card-border-idle: rgba(197, 160, 80, 0.1);

  /* FOOTER INPUTS (Dark Mode) */
  --input-border-idle: rgba(255, 255, 255, 0.2);
  --input-border-focus: #c5a050; /* Accent Gold */
  --bat-color: #d4d4d8;
}

@theme {
  /* Definindo cores estilo "Goth/Dark" */
  --color-obsidian: #0a0a0a;
  --color-charcoal: #171717;
  --color-mist: #a3a3a3;
  --color-accent: #d4d4d8; /* Um prata pálido */

  --color-accent-red: #8a0a0a; /* Vermelho Sangue Profundo */
  --color-accent-gold: #c5a050; /* Ouro Envelhecido */
  --color-card-bg: #1e1e24; /* Cinza Azulado Profundo */

  /* Fontes para o estilo Ateliê */
  --font-serif: "Merriweather", serif;
  --font-sans: "Inter", sans-serif;
}
