@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  /* Definindo cores estilo "Goth/Dark" */
  --color-obsidian: #0a0a0a;
  --color-charcoal: #171717;
  --color-mist: #a3a3a3;
  --color-accent: #d4d4d8; /* Um prata pálido */

  --color-accent-red: #8a0a0a; /* Vermelho Sangue Profundo */
  --color-accent-gold: #c5a050; /* Ouro Envelhecido */
  --color-card-bg: #1e1e24; /* Cinza Azulado Profundo */

  /* Fontes para o estilo Ateliê */
  --font-serif: "Merriweather", serif;
  --font-sans: "Inter", sans-serif;
}
